In this notebook we will be covering the built-in functions that are assosiated with iterables like(list,tuple and dictionary).

we will cover:


*   max( ), min( )

*   len( ), sum( )
*   sorted( )


*   reversed( )

* all( ), any( )

* enumerate( )

and we conclude with some examples related to these topics

##**Finding maximum and minimum of an iterable**


*   **min()** - Finds the largest element in an iterable
*   **max()** - Finds the smallest element in an iterable

In [ ]:
numbers = [12, 23.1, 6, 8, 12.7]
print(max(numbers))
print(min(numbers))

23.1
6

##**max(), min()** over string

When applied to strings,max() and min() returns the largest, smallest characters based on their Unicode code point values.

Unicode is a standard encoding system that assigns a unique numeric value to each character, including letters, digits, and symbols, across different languages and scripts.

In [ ]:
string = "sample.1@gmail.com"
min_char = min(string)
max_char = max(string)
print(max_char)
print(min_char)

s
.

##**len()** and **sum()**


*   len(object)    -  Returns the length (number of items) of an object.
*   sum(itterable) - Computes the sum of all elements in an iterable

In [ ]:
numbers = [12, 23.1, 6, 8, 12.7]
print(len(numbers))
print(sum(numbers))

5
61.8

When you apply len() to a string, it returns the number of characters in that string.

In [ ]:
len("sample string")

13

##**sorted()**


**sorted()** - Return a new sorted list from the items in iterable

Has two optional arguments which must be specified as keyword arguments.

* **key** specifies a function of one argument that is used to extract a comparison key from each element in iterable (for example, key=str.lower). The default value is None (compare the elements directly).

* **reverse** is a boolean value. If set to True, then the list elements are sorted as if each comparison were reversed.

In [ ]:
numbers = [12, 23.1, 6, 8, 12.7]
num_sorted = sorted(numbers)
num_reverse_sorted = sorted(numbers,reverse=True)
print(num_sorted)
print(num_reverse_sorted)

[6, 8, 12, 12.7, 23.1]
[23.1, 12.7, 12, 8, 6]

When **sorted()** is applied to a string, it returns a list of characters from the string sorted in ascending order based on their Unicode code point values

In [ ]:
print(sorted("sample.1@gmail.com"))

['.', '.', '1', '@', 'a', 'a', 'c', 'e', 'g', 'i', 'l', 'l', 'm', 'm', 'm', 'o', 'p', 's']

##**reversed()**


**reversed(seq)** - returns an iterator that iterates over the elements of a sequence (such as a list, tuple, or string) in reverse order.

The **reversed()** function does not modify the original sequence. Instead, it returns an iterator that provides the elements of the sequence in reverse order.

In [ ]:
reversed("sample.1@gmail.com") #will be stored as an iterator

To convert the reversed iterator back into a sequence, you can use the **join()** method for strings or convert it to a list using the list() constructor for lists or tuples.

In [ ]:
reversed_string = ''.join(reversed("sample.1@gmail.com"))
reversed_string

'moc.liamg@1.elpmas'

## **all()** and **any()**



* **all(**iterable**)** - Return True if all elements of the iterable are true (or if the iterable is empty)

* **any(**iterable**)** - Return True if any one element of the iterable is true, if the iterable is empty returns false

In [ ]:
list_of_comparisions = [1 == 2, "hai" == "hai", 6 > 7, 1 + 4 < 3 - 1]
all(list_of_comparisions)  # returns flase as not all the comparisions in the list are true

False

In [ ]:
any(list_of_comparisions) # returns true as we have atleast one true comparision in the list

True

## **enumerate()**

**enumerate(** iterable, start **)** is used to iterate over a sequence (such as a list or tuple) while keeping track of the index of each item.

It returns an enumerate object, which is an iterator of tuples containing index-value pairs.

In [ ]:
# Example list
fruits = ['apple', 'banana', 'cherry', 'date']

# Using enumerate to iterate over the list
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry
3 date

In [ ]:
#when start = 10 ,the indexing starts from 10
for index, fruit in enumerate(fruits,10):
    print(index, fruit)

10 apple
11 banana
12 cherry
13 date

## Example:

Let's consider an example  of analyzing data from a list of dictionaries representing sales data for different products.

Each dictionary contains information about a product, including its name, price, quantity sold, and revenue generated.

 We'll perform various analyses on this dataset:

In [ ]:
#Sample sales data
sales_data = [
    {"product": "Laptop", "price": 1000, "quantity_sold": 50},
    {"product": "Phone", "price": 600, "quantity_sold": 80},
    {"product": "Tablet", "price": 400, "quantity_sold": 120},
    {"product": "Smartwatch", "price": 250, "quantity_sold": 200}
]

In [ ]:
# Calculate total revenue generated for all products
"""we get total revenue by multipling the price with quantity sold of each product and suming them"""
revenue = sum(product["price"] * product["quantity_sold"] for product in sales_data)
print("Total Revenue:", revenue)

Total Revenue: 196000

In [ ]:
# Find the product with the highest price
max_price_product = max(sales_data, key=lambda x: x["price"])
print("Product with Highest Price:", max_price_product["product"])

Product with Highest Price: Laptop

In [ ]:
# Find the product with the lowest quantity sold
min_quantity_product = min(sales_data, key=lambda x: x["quantity_sold"])
print("Product with Lowest Quantity Sold:", min_quantity_product["product"])

Product with Lowest Quantity Sold: Laptop

In [ ]:
# Find the average price of all products
average_price = sum(product["price"] for product in sales_data) / len(sales_data)
print("Average Price of Products:", average_price)

Average Price of Products: 562.5

In [ ]:
# Find the total number of products sold
total_products_sold = sum(product["quantity_sold"] for product in sales_data)
print("Total Products Sold:", total_products_sold)

Total Products Sold: 450

##Explanation

* **Total Revenue**: Calculate the total revenue generated by multiplying the price of each product by the quantity sold and summing the results.

* **Product with Highest Price**: Find the product with the highest price using max() function with a custom key function.

* **Product with Lowest Quantity Sold**: Find the product with the lowest quantity sold using min() function with a custom key function.

* **Average Price of Products**: Calculate the average price of all products.
Total Products Sold: Calculate the total number of products sold by summing the quantities sold for all products.